*~
.RHistory
*.html
node_modules
.DS_Store
.Rproj.user
experiments/tangram/local.json
data/pilotB/*
data/pilotC/*
*.toc
*.synctex.gz
*.snm
*.out
*.nav
*.log
*.aux
code/models/*
*for_prolific*
*player_payments*
*.tex
*.npy
*.Rdata
*.RData
log
server_notes
*cache*
code/*.csv
data/*/combined*
data/*/exchanges*

code/paper_mods/*.rds
code/paper_mods/complete_only/*.rds
*.bcf
*ipynb_checkpoints*
*rsconnect*
